<div class="d-flex justify-content-center">
  <div class="col-8">
    @if (ticket(); as ticketRef) {
      <div>
        <h2 data-cy="ticketDetailsHeading"><span jhiTranslate="gbSandboxJh87App.ticket.detail.title">Ticket</span></h2>

        <hr />

        <jhi-alert-error></jhi-alert-error>

        <jhi-alert></jhi-alert>

        <dl class="row-md jh-entity-details">
          <dt><span jhiTranslate="global.field.id">ID</span></dt>
          <dd>
            <span>{{ ticketRef.id }}</span>
          </dd>
          <dt><span jhiTranslate="gbSandboxJh87App.ticket.title">Title</span></dt>
          <dd>
            <span>{{ ticketRef.title }}</span>
          </dd>
          <dt><span jhiTranslate="gbSandboxJh87App.ticket.description">Description</span></dt>
          <dd>
            <span>{{ ticketRef.description }}</span>
          </dd>
          <dt><span jhiTranslate="gbSandboxJh87App.ticket.dueDate">Due Date</span></dt>
          <dd>
            <span>{{ ticketRef.dueDate | formatMediumDate }}</span>
          </dd>
          <dt><span jhiTranslate="gbSandboxJh87App.ticket.done">Done</span></dt>
          <dd>
            <span>{{ ticketRef.done }}</span>
          </dd>
          <dt><span jhiTranslate="gbSandboxJh87App.ticket.project">Project</span></dt>
          <dd>
            @if (ticket()!.project) {
              <div>
                <a [routerLink]="['/project', ticket()!.project?.id, 'view']">{{ ticketRef.project?.name }}</a>
              </div>
            }
          </dd>
          <dt><span jhiTranslate="gbSandboxJh87App.ticket.assignedTo">Assigned To</span></dt>
          <dd>
            <span>{{ ticketRef.assignedTo?.login }}</span>
          </dd>
          <dt><span jhiTranslate="gbSandboxJh87App.ticket.label">Label</span></dt>
          <dd>
            @for (label of ticketRef.labels; track $index; let last = $last) {
              <span>
                <a [routerLink]="['/label', label.id, 'view']">{{ label?.label }}</a
                >{{ last ? '' : ', ' }}
              </span>
            }
          </dd>
        </dl>

        <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
          <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Volver</span>
        </button>

        <button type="button" [routerLink]="['/ticket', ticketRef.id, 'edit']" class="btn btn-primary">
          <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Editar</span>
        </button>
      </div>
    }
  </div>
</div>
